[Unit]
Description = UECS Received data insert to DB v1.10
After = mariadb.service

[Service]
ExecStart = /usr/local/bin/uecsrxdb
Restart = always
Type = simple

[Install]
WantedBy = multi-user.target
